__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Dados gerados
data/

# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente
.env

# Logs do Airflow
logs/

# IDEs
.idea/
.vscode/
*.swp
*.swo
